.app-container {
  background: #ffedbf;  /* Cream */
}
.day-header {
  background: #9b2948;  /* Dark red */
  color: #ffedbf;  /* Cream */
}
.day-cell {
  background: #ffca7b;  /* Yellow */
  border: 1px solid #ffcd74;  /* Light yellow */
}
.today {
  background: #ff7251;  /* Orange */
}
.nav-buttons button {
  background: #ff7251;  /* Orange */
}
.nav-buttons button:hover {
  background: #9b2948;  /* Dark red */
}